# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df= pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'])

In [4]:
df.dropna(how='any',inplace=True) #remove the incomplete rows

In [5]:
# Set the date column as the DataFrame index
df.set_index('date',drop=True, inplace=True)

In [6]:
# Drop the date column (done above)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 18103 entries, 2010-01-01 to 2017-08-23
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  18103 non-null  object
 1   prcp     18103 non-null  float64
 2   tobs     18103 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 565.7+ KB

### Compare June and December data across all years

In [7]:
from scipy import stats

In [8]:
# Filter data for desired months
june=df.loc[df.index.strftime('%m')=='06',:] #june months data

In [9]:
december=df.loc[df.index.strftime('%m')=='12',:]

In [10]:
# Identify the average temperature for June
june_mean=june['tobs'].mean()
june_mean

74.88754764930114

In [11]:
# Identify the average temperature for December
december_mean=december['tobs'].mean()
december_mean

70.93024911032029

In [12]:
# Create collections of temperature data

In [13]:
# Run paired t-test
stats.ttest_ind(december['tobs'],june['tobs'])

Ttest_indResult(statistic=-30.865349991562194, pvalue=9.8415346259008e-182)

### Analysis

In [ ]:
# using a pval of.05 we reject the null hypothesis and there is a 
 #difference in the means of tobs for two different months